<html>
<body>
<p>Beste {0},</p>
<br />
<p>Hierbij ontvangt u de Nota naar aanleiding van de bijeenkomst die u bij
    Ontmoetingscentrum Het Jeugdgebouw heeft gehad op: {1}.</p>
<p>Mocht u vragen en/of opmerkingen hebben over deze nota antwoord dan s.v.p. op deze email of
    vermeld het nota nummer: {2} in het onderwerp van de email.</p>
<p>Met Vriendelijke Groet, <br />
    Hijmen Trompetter<br />
    PenningMeester O.C. Het Jeugdgebouw</p>
</body>
</html>