@{
    
}

<div class="jumbotron">
    <h1>NotaCorrect</h1>
    <p class="lead">Welkom bij NotaCorrect, gebruik de navigatiebalk hierboven om een afdrachtformulier in te vullen of Nota's te verwerken.</p>
</div>
