<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NotaCorrect.DataHandling.Properties.Settings.SecondaryDB"
            connectionString="Server=SQL6001.site4now.net;Initial Catalog=DB_A2C9F3_callmebackdraft;User Id=DB_A2C9F3_callmebackdraft_admin;Password=Brainiac1988!;" />
    </connectionStrings>
</configuration>